
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.box {
    display: flex;
    align-items: center ;
    justify-content: center;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    width: min-content;
  
  }

  .box-stretch {
    justify-content: stretch;
    width: max-content;
    max-width:100%
  }

  .box-start {
    justify-content: start;
    width: max-content;
    max-width:100%
  }
  .box-end-mini {
    display: flex;
    justify-content: end;
    width: min-content;
    max-width:10%
  }
  .box :first-child{
    width: 1px;
  }

  
  .flex-container-column {
    flex-direction: column;
  }
  
  .flex-container-row {
    flex-direction: row;
    box-orient: horizontal;
    flex-direction: row;
    box-pack: center;
    justify-content: start;
    box-align: start;  
    align-items: start;
    background-color: red;
  }
  .flex-container-row :first-child{
    width: 1px;
  }
  
  .flex-container{
    background-color: rgb(100, 100, 255);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-container :first-child{
    width: 150px;
  }
  
  .mainbackground{
    color: yellow;
    max-width: 100%;
    margin: 10;
    background-color: yellow;
  }
  body{
    background-color: #ffd500;
    margin: 0;
  }
 

  #headimg{
    max-width:100%
  }

  .grid-container{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    padding: 10px;
  }


  .image {
    display: block;
    object-fit: cover;
    width: 100px;
    height: 100px; /* set to 'auto' in IE11 to avoid distortions */
  }
  

