* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	vertical-align: top;
	color: beige;

}





.box {

	align-items: center;
	justify-content: center;
	font-size: 30px;
	margin: 10px;
	padding: 10px;

}

.box-first-child {
	display: flex;
	align-items: center;
	justify-content: start;
	font-size: 30px;
	margin: 10px;
	padding: 10px;


}


.box-text-size-15 {
	font-size: 15px;
	color: azure;
}

.box-stretch {
	justify-content: flex-start;
	align-items: flex-start;
	max-width: 100%;

}

.box-start {
	justify-content: flex-start;
	align-items: flex-start;
	max-width: 100%;

}

.box-end-mini {
	justify-content: end;
	max-width: 100%;
	word-wrap: normal;
}




.flex-container {
	display: flex;
	background-color: rgb(100, 100, 255);
	align-items: center;
	justify-content: center;
}

.container-full {
	width: 100%;

}



.flex-container-column {
	flex-direction: column;
}



.flex-container-row {
	flex-direction: row;
	align-items: start;
	position: relative;
}






.flex-container-start {
	align-items: start;
}



.mainbackground {
	color: yellow;
	max-width: 100%;
	margin: 10;
	background-color: yellow;
	flex-flow: flex column;
	

}





.grid-container {
	display: grid;
	grid-template-columns: 30% 40% 30%;
	padding: 10px;
}


.image {
	width: 100%;
	height: 100%;
	max-width: 100%;
	height: auto;
	margin: 3px;
	padding: 3px;
	/* set to 'auto' in IE11 to avoid distortions */

}

.itemheadimage {
	float: center;
	 width: 100vw; 
	height: auto;

}



.itemimage {
	width: 120px;
	height: 120px;
	height: auto;
	float: left;
	margin: 3px;
	padding: 3px;
}
/* position fixed bootom 0*/
.footer {
	height: 20px;
	font-size: 15px;
	color: blue;
	position: fixed;
	bottom: 10px;
	right: 10px;
	text-align: right;
	width: 100%;
	
	
}

  
.box-text-size-15-signed {
	font-size: 15px;
	color: blue;
	flex-shrink: 0;

}
