*{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}
 

body{
    background-color: #ffd500;
    margin: 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

a{
    color: inherit;
}

p{
    text-align: justify;
}

.bluezone{
    background-color: rgb(100, 100, 255);
    color: #fff;
}
.text-center{
    text-align: center;
}
.padded-element{
    padding: 1em;
    margin: 0;
}

#wrapper{ /* règle CSS */
    /* propriété : valeur */
    max-width: 1024px;
    margin: auto;
    background-color: white;
}

#banniere{
    width: 100%;
    vertical-align: bottom;
    /*astuce pour supprimer l'espace blanc sous l'image
    (dû au fait qu'une image, comme du texte, s'aligne sur une baseline)*/
    height: 24em;
    object-fit: cover;
    /*l'image va se forcer à remplir son conteneur, quitte à rogner ses bords*/
}

#main-title{
    color:#ffd500;
    text-shadow: 0px 0px 2px rgb(119, 95, 11);
    /*décalage droite, décalage bas, blur radius, couleur de l'ombre portée du texte*/
}

main{
    display: flex;
    flex-wrap: wrap;/* possible retour à la ligne si un enfant déborde*/
    align-items: flex-start;
    /* l'alignement vertical des enfants de main démarre en haut, et n'aura
    plus l'effet d'étirer (stretch) leur hauteur*/
    padding: 2em 0.8em;
}
nav, aside{
    flex: 1;
}
nav a{
    display: block;
}
article{
    flex: 3;
}

figure figcaption{
    font-size: 1.5em;
    font-weight: bold;
}

footer.bluezone{
    background-color: rgb(18, 18, 170);
}

/* pour les écrans jusqu'à 900px de large */
@media screen and (max-width: 900px){
    #banniere{
        height: 20vmax;/* 20% du plus grand coté de l'écran */
    }
    main{
        padding: 0;
        display: block;/* on repart en block, on annule le flex */
    }
    nav a{
        display: initial;
        /* on demande aux liens de s'afficher comme ils devraient le faire initialement */
        padding: 0 1em;
    }
    figure{
        float: left;/* la figure va flotter sur la gauche de l'aside */
        width: 30vw;/* 30% de la largeur de l'écran (vw : viewport width)*/
    }
    figure img{
        width: 100%;
        max-width: 250px;
    }

}
/* pour les écrans jusqu'à 540px de large */
@media screen and (max-width: 540px){
    #banniere{
        height: auto;/* on laisse l'image recalculer sa hauteur selon son ratio */
        object-fit: contain;/* on lui demande de s'intégrer au complet dans son conteneur */
    }

    figure{
        float: none;/* figure ne flotte plus à gauche */
        width: auto;/* et reprend une largeur de 100% de son parent */
    }

    nav a{
        display: block;
        padding: 1em;
    }
}



/*
    balise                     : 1 pt
    .class                     : 10 pts
    #id                        : 100 pts
    style in HTML (JavaScript) : 1000 pts
    !important                 : 1000000 pts

