* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	vertical-align: top;
	color: beige;

}




.bluezone{
    background-color: rgb(32, 32, 253);
    color: #fff;
}
.text-center{
    text-align: center;
}
.padded-element{
    padding: 1em;
    margin: 10;
}

nav{
    border-bottom: 2px dashed #fff;
    line-height: 3em;
}
nav a{
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 1em;
}

.box {


	display: block;

	max-width: 1024px;
    margin: auto;
    background-color: white;



}

.box-first-child {
	display: flex;
	align-items: center;
	justify-content: start;
	font-size: 30px;
	margin: 10px;
	padding: 10px;


}


.box-text-size-15 {
	font-size: 15px;
	color: azure;
}

.box-stretch {
	justify-content: flex-start;
	align-items: flex-start;
	max-width: 100%;

}

.box-start {
	justify-content: flex-start;
	align-items: flex-start;
	max-width: 100%;

}

.box-end-mini {
	justify-content: end;
	max-width: 100%;
	word-wrap: normal;
}




.flex-container {
	display: flex;
	background-color: rgb(100, 100, 255);
	align-items: center;
	justify-content: center;
}

.container-full {
	width: 100%;

}



.flex-container-column {
	flex-direction: column;
}



.flex-container-row {
	flex-direction: row;
	align-items: start;
	position: relative;
}






.flex-container-start {
	align-items: start;
}

.flex-container-center {
	align-items: center;
}


.mainbackground {
	color: yellow;
	max-width: 100%;
	margin: 10;
	background-color: yellow;
	flex-flow: flex column;
	max-height: 100vh;
	
	/*correction wraps contenue */
	max-width: 1024px;
    margin: auto;
    background-color: white;
	/*correction wraps contenue */
	

}





.grid-container {
	display: grid;
	grid-template-columns: 30% 40% 30%;
	padding: 10px;
}


.image {

	margin: 3px;
	padding: 3px;
	/* set to 'auto' in IE11 to avoid distortions */

}

.itemheadimage {
	

	width: 100%;
    height: 24em;
    object-fit: cover;

}

/*correction*/
#banniere{
    width: 100%;
    height: 24em;
    object-fit:cover;
    /*l'image va se forcer à remplir son conteneur, quitte à rogner ses bords*/
}



.itemimage {
	width: 120px;
	height: 120px;
	height: auto;
	
	margin: 3px;
	padding: 3px;
	
	object-fit: cover;
}
/* position fixed bootom 0*/
.footer {
	height: 20px;
	font-size: 15px;
	color: rgb(230, 9, 156);
	text-align: right;
	width: 100%;

	position: fixed;
	bottom: 10px;
	right: 10px;
	
}
.float-element{
	float: right;


}

  
.box-text-size-15-signed {
	font-size: 15px;
	color: blue;
	flex-shrink: 0;

}


body{
    background-color: #ffd500;
    margin: 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

section{
    display: flex;
    flex-wrap: wrap;/* possible retour à la ligne si un enfant déborde*/
    align-items: flex-start;
    /* l'alignement vertical des enfants de main démarre en haut, et n'aura
    plus l'effet d'étirer (stretch) leur hauteur*/
}


#gallery{
    display: flex;
    flex-wrap: wrap;
}

#gallery div{
    flex: 1;
    min-width: 150px;
    border: 1px solid #888;
    margin: 2px;
}

#gallery div img{
    width: 100%;
    height: 16em;
    object-fit: cover;
}